<h2>@App_LocalResources.GlobalRes.АЧтоРазвеНеВидноЧтоАукционЗакончилсяЕщеВТомГодуЛанПосмотриДругие  
    @Html.RouteLink(App_LocalResources.GlobalRes.Товары, new { controller = "Product", action = "Index", area = ""})</h2>
