@{
    ViewBag.Title = User.Identity.Name;
}

<h3>@Html.ActionLink(App_LocalResources.GlobalRes.РедактироватьЛичныеДанные, "AddCategory", "Category")</h3>
<h3>@Html.ActionLink(App_LocalResources.GlobalRes.ПросмотретьСписокВыставленныхСвоихТоваров, "ShowMyProduct", "Cabinet")</h3>
<h3>@Html.ActionLink(App_LocalResources.GlobalRes.ПросмотретьСписокМоихСтавок, "ShowMyBid", "Bid")</h3>
<h3>@Html.ActionLink(App_LocalResources.GlobalRes.ДобавитьПродукт, "AddProduct", "Product")</h3>
